@import url(https://fonts.google.com/specimen/Inter);
@import url(https://fonts.google.com/specimen/Lexend+Deca);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    background-color: #090b1a;
}

body {
    font-family: 'Inter', 'Lexend Deca', 'Times New Roman', Times, serif;
    font-weight: 400;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    min-width: 850px;
}

.container {
    display: flex;
    flex-direction: column nowrap;
    width: 900px;
    min-width: 500px;
    margin: 10rem 7rem 2rem 10rem;
    height: 380px;
}

.insights {
    background-color: #1b1938;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 2rem 3.5rem 1.5rem 2.5rem;
    display: grid;
    width: 50%;
    min-width: 500px;
    justify-content: center;
    align-items: center;
}

.insights__head {
    font-weight: 700;
    color: white;
    justify-content: center;
}

span {
    color: #aa5cdb;
}

.insights__p {
    line-height: 25px;
    color: #ffffffbf;
    width: 350px;
}
.insights__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.footer__1, .footer__2, .footer__3 {
    display: grid;
    gap: 0.5rem;
}

.footer__digits {
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
}
.footer__word {
    color: #ffffff99;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}

.fig__img {
    width: 45%;
    height: 100%;
    background-image: linear-gradient(to bottom,rgba(82, 26, 117, 0.644),  rgba(86, 29, 122, 0.559)), url(image-header-desktop.jpg);
    background-size: 100% 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:any-link {
    color: #0000ff;
}

/* ///////////////MEDIA QUERIES\\\\\\\\\\\\\\\ */

@media screen and (max-width: 900px) {
    body {
        width: 100%;
        height: 100%;
    }

    .container{
        margin-top: 80px;
        margin-left: 112px;
        width: 70vw;
        height: 800px;
        flex-direction: column-reverse;
    }

    .insights {
        width: 100%;
        height: 60%;
    }  

    .insights__head {
        margin-bottom: 50px;
        padding-right: 0;
    }
    
    h1 {
        text-align: center;
    }
    
    .insights__p{
        padding-right: 0;
        margin-bottom: 50px;
        margin-left: 40px;
        line-height: 30px;
        font-size: 1.5rem;
    }
    
    p {
        text-align: center;
    }

    .insights__footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .footer__1, .footer__2, .footer__3 {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fig__img{
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
    }
    
    footer {
        margin-bottom: 80px;
        font-size: 24px;
    }
}

/* ///////////////MEDIA QUERIES/////////////// */

@media only screen and (max-width:375px) {
    .container{
        width: 90vw;
        min-height: 1100px;
    }

    .insights{
        height: 70%;
        padding: 30px;
    }

    .fig__img{
        height: 30%;
        background-image: linear-gradient(to bottom,#aa5cdb66,  #aa5cdb66), url(image-header-mobile.jpg);
    }

    .insights__head{
        margin-top: 30px;
        margin-bottom: 30px;
        padding-right: 0;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .insights__p {
        margin-bottom:50px;
        margin-left: 40px;
    }
    
    p {
        padding: 5px;
        text-align: center;
        letter-spacing: 0.4px;
        line-height: 28px;
        font-size: 1.5rem;
    }

    .insights__footer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .footer__1, .footer__2, .footer__3 {
        width: 100%;
        margin-bottom: 40px;
    }
    
    .footer__digits {
        font-size: 30px;
    }
    
    .footer__word {
        font-size: 14px;
    }

    footer {
        margin-bottom: 80px;
        font-size: 24px;
    }
}
